
In env variables
# Postgres
spring.datasource.url=your_connection_url
spring.datasource.username=your_username
spring.datasource.password=your_password

# Jwt
jwt.secret=your_secret

finnhub.api-key=${FINNHUB_API_KEY}
finnhub.base-url=${FINNHUB_URL}
--------------------------------------------------
In '.env' file
POSTGRES_USER=your_username
POSTGRES_PASS=your_password
PGADMIN_DEF_EMAIL=your_email
PGADMIN_DEF_PASS=your_password